@inject Microsoft.Extensions.Options.IOptions<IdentityCoreCustomization.Models.GeneralConfig> GeneralConfig
<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <script>
        (function () {
            var t = localStorage.getItem('app-theme');
            if (t === 'dark') { document.documentElement.setAttribute('data-bs-theme', 'dark'); }
        })();
    </script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - @GeneralConfig.Value.SiteTitle</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.rtl.min.css" />
    <link href="~/lib/persian_fonts/vazirmatnfd/vazirmatn-fd-font-face.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/fontawesome/css/all.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/navigation-dropdown.css" />
    <link rel="stylesheet" href="~/css/admin.css" asp-append-version="true" />
    @await RenderSectionAsync("Styles", required: false)
</head>
<body>
    
        <!-- Main site layout with top bar -->
        <header>
            <nav class="navbar navbar-expand-sm bg-body border-bottom box-shadow mb-3">
                <div class="container">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                        <i class="fa-solid fa-address-card"></i> @GeneralConfig.Value.SiteTitle
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">
                                    <i class="fa-solid fa-house"></i> اصلی
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Privacy">
                                    <i class="fa-solid fa-face-zipper"></i> محرمانگی
                                </a>
                            </li>
                        </ul>
                        <button type="button" data-theme-toggle class="btn btn-link nav-link px-2" title="تغییر به حالت تیره">
                            <i class="fa-solid fa-moon"></i>
                        </button>
                        <partial name="_LoginPartial" />
                    </div>
                </div>
            </nav>
        </header>
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/navigation-dropdown.js" asp-append-version="true"></script>
    <script src="~/js/theme.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
