@inject SignInManager<ApplicationUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}
<ul class="nav nav-pills flex-column">
    <li class="nav-item"><a class="nav-link" id="profile" asp-action="Index"><i class="fa-solid fa-user-gear"></i> پرونده</a></li>
    <li class="nav-item"><a class="nav-link" id="email" asp-action="Email"><i class="fa-solid fa-at"></i> ایمیل</a></li>
    <li class="nav-item"><a class="nav-link" id="change-password" asp-action="ChangePassword"><i class="fa-solid fa-key"></i> کلمه عبور</a></li>
    <li class="nav-item"><a class="nav-link" id="two-factor" asp-action="TwoFactorAuthentication"><i class="fa-solid fa-lock"></i> احراز هویت دو مرحله ای</a></li>
    @*<li class="nav-item"><a class="nav-link"  id="personal-data" asp-action="PersonalData"><i class="fa-solid fa-passport"></i> مدیریت داده های شخصی</a></li>*@
</ul>
