@{
    Layout = "/Areas/Identity/Views/Manage/_Layout.cshtml";
    ViewData["Title"] = "ارسال ایمیل تایید";
}

<h4>@ViewData["Title"]</h4>
<div class="alert alert-info" role="alert">
    ایمیل تایید برای شما ارسال شد. لطفاً صندوق ایمیل خود را بررسی کنید و روی لینک تایید کلیک کنید.
</div>
<a asp-area="Identity" asp-controller="Manage" asp-action="Email" class="btn btn-primary">بازگشت به مدیریت ایمیل</a>
