@{
    ViewData["Title"] = "تاییدیه فراموشی کلمه عبور";
}


<div class="row">
    <div class="col-md-6 offset-md-3 col-sm-12 offset-sm-1">
        <h1>@ViewData["Title"]</h1>
        <p>
            لطفا ایمیل تان را جهت دریافت دستورالعمل بازیابی کلمه عبور چک کنید.
        </p>
    </div>
</div>

