@{
    ViewData["Title"] = "انسداد حساب کاربری";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">این حساب کاربری مسدود شده است، لطفا بعدا سعی کنید.</p>
</header>
