@model IdentityCoreCustomization.Models.Identity.UserPhoneTokenConfirmViewModel

@{
    ViewData["Title"] = "تایید ورود دو مرحله ای";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-md-6 mx-auto col-sm-12" >
        <h1>@ViewData["Title"]</h1>
        <hr />
        <p>یک کد امنیتی به شماره موبایل شما ارسال شد. آن را در کادر زیر وارد کنید.</p>
        <form asp-action="LoginWith2faSms">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="AuthenticationKey"/>
            <input type="hidden" name="returnUrl" value="@ViewData["ReturnUrl"]" />
            <input type="hidden" name="rememberMe" value="@ViewData["RememberMe"]" />
            <div class="mb-3">
                <label asp-for="AuthenticationCode"></label>
                <input asp-for="AuthenticationCode" class="form-control" placeholder="123456" />
                <span asp-validation-for="AuthenticationCode" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <button type="submit" value="Create" class="btn btn-primary">
                    <i class="fa-solid fa-right-to-bracket"></i> ورود
                </button>
            </div>
        </form>
        <p>
            کد پیامکی دریافت نکردید؟ می‌توانید با استفاده از 
            <a asp-action="LoginWithRecoveryCode" asp-route-returnUrl="@ViewData["ReturnUrl"]">کد بازیابی</a> وارد شوید.
        </p>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}