@model LoginWithSmsModel
@{
    ViewData["Title"] = "ورود از طریق پیامک";
}
<div class="row">
    <div class="col-md-6 mx-auto col-sm-12" >
        <h1>@ViewData["Title"]</h1>
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" name="returnUrl" value="@ViewData["ReturnUrl"]" />
            <div class="mb-3">
                <label asp-for="PhoneNumber"></label>
                <input asp-for="PhoneNumber" class="form-control ltr"/>
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-primary mt-1">ارسال کد</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
