@{
    ViewData["Title"] = "تاییدیه بازنشانی کلمه عبور";
}

<h1>@ViewData["Title"]</h1>
<p>
    کلمه عبور شما بازنشانی شد. لطفا برای ورود <a asp-action="Login" asp-controller="Account">اینجا را کلیک کنید</a>.
</p>
